.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    background: linear-gradient(to right,#cef1f5 ,#a5dfe6, #0a9fb4, #035e97, 
    #232742);
}

/* .header-container{
    display: none;
}

.show{
    display: block;
} */

.logo-container{
    width: 30%;
    margin-left: 50px;
}

#logo{
    width: 35%;
}

.menu-container{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
}

.menubar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    position: relative;
}

.links{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: all 0s ease;
}

.links:hover{
    color: #b9d057;
}

.active{
    color: #b9d057;
}

.menu-item{
    position: relative;
}

.sub-menu{
    position: absolute;
    top: 36px;
    z-index: 2;
    padding: 20px 15px;
    background-color: #0884ac;
    line-height: 2;
    /* display: flex; */
    flex-direction: column;
    width: 200px;
}

.menu-item:hover .sub-menu{
    display: block;
    transition: 3s;
}

#vertical-line{
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 50px;
}

.social{
    width: 25%;
}

#social-icons{
    width: 10%;
    margin: 10px 20px 0px;
}

#menuBtn, #click{
    display: none;
}

.title{
    background-color: #f1f6fb;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0px 100px;
    justify-content: space-between;
    z-index: 1;
}

@media (max-width: 1280px) {

    .header{
        height: 150px;
        width: 100%;
    }

    .shrink{
        width: 100%;
    }

    #logo{
        width: 60%;
    }
}

@media (max-width: 1024px) {

    .header{
        height: 150px;
    }

    .shrink{
        width: 100%;
    }

    .logo-container{
        width: 50%;
    }

    #logo{
        width: 60%;
    }

    #menuBtn{
        display: block;
        width: 10%;
        margin-right: 30px;
    }

    #menu-img{
        width: 35%;
    }

    #click:checked ~ .menu-container{
        display: block;
        transition: 0.3s;
    }
    
    .menu-container{
        z-index: 99;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 150px;
        width: 100%;
        align-items: center;
        line-height: 2em;
        display: none;
        transition: 0.3s;
        background: linear-gradient(to right,#cef1f5 ,#a5dfe6, #0a9fb4, #035e97, #232742);
    }

    .menubar{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    #vertical-line{
        display: none;
    }

    .social{
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .social a{
        width: 50px;
    }

    #social-icons{
        width: 30%;
    }
}

@media (max-width: 900px) {

    .header{
        height: 150px;
    }

    .shrink{
        width: 100%;
    }

    .logo-container{
        width: 50%;
    }

    #logo{
        width: 60%;
    }

    #menuBtn{
        display: block;
        width: 10%;
        margin-right: 30px;
    }

    #menu-img{
        width: 35%;
    }

    #click:checked ~ .menu-container{
        display: block;
        transition: 0.3s;
    }
    
    .menu-container{
        z-index: 99;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 150px;
        width: 100%;
        align-items: center;
        line-height: 2em;
        display: none;
        transition: 0.3s;
    }

    .menubar{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    #vertical-line{
        display: none;
    }

    .social{
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .social a{
        width: 50px;
    }

    #social-icons{
        width: 30%;
    }
}

@media (max-width: 768px) {

    .header{
        height: 150px;
    }

    .shrink{
        width: 100%;
    }

    .logo-container{
        width: 50%;
    }

    #logo{
        width: 70%;
    }

    #menuBtn{
        display: block;
        width: 10%;
        margin-right: 30px;
    }

    #menu-img{
        width: 45%;
    }

    #click:checked ~ .menu-container{
        display: block;
        transition: 0.3s;
    }
    
    .menu-container{
        z-index: 99;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 150px;
        width: 100%;
        align-items: center;
        line-height: 2em;
        display: none;
        transition: 0.3s;
    }

    .menubar{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    #vertical-line{
        display: none;
    }

    .social{
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .social a{
        width: 50px;
    }

    #social-icons{
        width: 30%;
    }
}

@media (max-width: 600px) {

    .header{
        height: 150px;
    }

    .shrink{
        width: 100%;
    }

    .logo-container{
        width: 50%;
    }

    #logo{
        width: 100%;
    }

    #menuBtn{
        display: block;
        width: 10%;
        margin-right: 30px;
    }

    #menu-img{
        width: 60%;
    }

    #click:checked ~ .menu-container{
        display: block;
        transition: 0.3s;
    }
    
    .menu-container{
        z-index: 99;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 149px;
        width: 100%;
        align-items: center;
        line-height: 2em;
        display: none;
        transition: 0.3s;
    }

    .menubar{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    #vertical-line{
        display: none;
    }

    .social{
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .social a{
        width: 50px;
    }

    #social-icons{
        width: 30%;
    }
}

@media (max-width: 420px) {

    .header{
        height: 100px;
    }

    .shrink{
        width: 100%;
    }

    .logo-container{
        width: 30%;
        margin-left: 30px;
    }

    #logo{
        width: 100%;
    }

    #menuBtn{
        display: block;
        width: 10%;
        margin-right: 30px;
    }

    #menu-img{
        width: 60%;
    }

    #click:checked ~ .menu-container{
        display: block;
        transition: 0.3s;
    }
    
    .menu-container{
        z-index: 99;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100px;
        width: 100%;
        align-items: center;
        line-height: 2em;
        display: none;
        transition: 0.3s;
    }

    .menubar{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    #vertical-line{
        display: none;
    }

    .social{
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .social a{
        width: 50px;
    }

    #social-icons{
        width: 30%;
    }

    .title{
        padding: 0px 20px;
        height: 75px;
    }

    .title h1{
        font-size: 20px;
    }
}