.cardlist{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap : 100px;
    margin: 100px 0px;
}

.card {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px;
    align-items: center;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    position: relative;
    padding: 40px;
    width: calc(60% - 40px);
}

.profileImage {
    position: absolute;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    top: -75px;
    right: -100px;
}
/* 
.card:nth-child(odd) .profileImage{
    top: -75px;
    left: -100px;
} */

/* .card:nth-child(even) .profileImage{
    top: -75px;
    right: -100px;
} */

.contact{
    display: flex;  
    align-items: center; 
    margin-top: 20px;
}

.plogo{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.cardcontent{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* .card:nth-child(odd) .cardcontent{
    align-items:flex-end;
} */

.cardcontent label{
    font-size: 50px;
    font-weight: 600;
}

.para{
    width: 90%;
    display: flex;
    flex-direction: column;
}

/* .card:nth-child(odd) .cardcontent .para{
    text-align: right;
    align-items: end;
} */

.btn{
    display: none;
}

@media ( width <= 420px ){

    .cardlist{
        gap : 50px;
        margin: 50px 0px;
    }

    .profileImage {
        position:initial;
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }

    .card {
        position: relative;
        padding: 30px 30px 50px;
        width: calc(80% - 30px);
    }

    .para {
        width: 100%;
    }

    .noMore{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
    }

    .cardcontent label{
        font-size: 32px;
        text-align: center;
    }

    .btn{
        display: block;
        position: absolute;
        bottom: 15px;
        border-radius: 20px;
        background-color: aliceblue;
        border: none;
        font-size: 15px;
        color: midnightblue;
        padding: 5px 10px;
        font-weight: 600;
    }
}






