<div class="cardlist">
    <div class="card">
        <div class="cardcontent">
            <label>Ashish Shah</label>
            <div class="para" [ngClass]="!moreDetails ? 'noMore' : ''">
                Proprietor of Hexen Engineering, an Industrialist into Manufacturing and Export of High Precision
        Castings to many leading countries. He supplies goods to many industries like Automotive, Railway,
        Power, Steel, Refrigeration, Marine, Pump & Valve etc. He started Hexen back in 1993 all by himself
        and brought it to where it is today. He is also among one of the top Art Collectors of Gujarat. He has
        an Art Collection of thousands of paintings made by leading artists for India ranging from works of
        M.S Hussian, Ramkumar, Jeram Patel etc. He is also involved in specialized work of Cleaning and
        Coating of Monuments and Temples. He is socially very well connected with NGOs, trekking clubs
        
        and charities.
                <div class="contact">
                    <img class='plogo' src="../../../assets/images/call.png" /><a
                        href="tel:+800000000000">800000000000</a>
                </div>
                <div class="contact">
                    <img class='plogo' src="../../../assets/images/email.png" />abc@gmail
                </div>
            </div>
        </div>
        <button class="btn" (click)="showMore()">{{ !moreDetails ? 'More Details' : 'Less Details'}}</button>
        <img class="profileImage" src="../../../assets/images/person.png" />
    </div>

    <div class="card">
        <div class="cardcontent">
            <label>Asit Shah</label>
            <div class="para" [ngClass]="!moreDetails ? 'noMore' : ''">
                Proprietor of Hexen Engineering, an Industrialist into Manufacturing and Export of High Precision
                Castings to many leading countries. He supplies goods to many industries like Automotive, Railway,
                Power, Steel, Refrigeration, Marine, Pump & Valve etc. He started Hexen back in 1993 all by himself
                and brought it to where it is today. He is also among one of the top Art Collectors of Gujarat. He has
                an Art Collection of thousands of paintings made by leading artists for India ranging from works of
                M.S Hussian, Ramkumar, Jeram Patel etc. He is also involved in specialized work of Cleaning and
                Coating of Monuments and Temples. He is socially very well connected with NGOs, trekking clubs

                and charities.
                <div class="contact">
                    <img class='plogo' src="../../../assets/images/call.png" /><a
                        href="tel:+800000000000">800000000000</a>
                </div>
                <div class="contact">
                    <img class='plogo' src="../../../assets/images/email.png" />abc@gmail
                </div>
            </div>
        </div>
        <button class="btn" (click)="showMore()">{{ !moreDetails ? 'More Details' : 'Less Details'}}</button>

        <img class="profileImage" src="../../../assets/images/person.png" />
    </div>

    <div class="card">
        <div class="cardcontent">
            <label>Asit Shah</label>
            <div class="para" [ngClass]="!moreDetails ? 'noMore' : ''">
                Proprietor of Hexen Engineering, an Industrialist into Manufacturing and Export of High Precision
                Castings to many leading countries. He supplies goods to many industries like Automotive, Railway,
                Power, Steel, Refrigeration, Marine, Pump & Valve etc. He started Hexen back in 1993 all by himself
                and brought it to where it is today. He is also among one of the top Art Collectors of Gujarat. He has
                an Art Collection of thousands of paintings made by leading artists for India ranging from works of
                M.S Hussian, Ramkumar, Jeram Patel etc. He is also involved in specialized work of Cleaning and
                Coating of Monuments and Temples. He is socially very well connected with NGOs, trekking clubs

                and charities.
                <div class="contact">
                    <img class='plogo' src="../../../assets/images/call.png" /><a
                        href="tel:+800000000000">800000000000</a>
                </div>
                <div class="contact">
                    <img class='plogo' src="../../../assets/images/email.png" />abc@gmail
                </div>

            </div>
        </div>
        <button class="btn" (click)="showMore()">{{ !moreDetails ? 'More Details' : 'Less Details'}}</button>
        <img class="profileImage" src="../../../assets/images/person.png" />
        

    </div>

    <div class="card">
        <div class="cardcontent">
            <label>Asit Shah</label>
            <div class="para" [ngClass]="!moreDetails ? 'noMore' : ''">
                Proprietor of Hexen Engineering, an Industrialist into Manufacturing and Export of High Precision
                Castings to many leading countries. He supplies goods to many industries like Automotive, Railway,
                Power, Steel, Refrigeration, Marine, Pump & Valve etc. He started Hexen back in 1993 all by himself
                and brought it to where it is today. He is also among one of the top Art Collectors of Gujarat. He has
                an Art Collection of thousands of paintings made by leading artists for India ranging from works of
                M.S Hussian, Ramkumar, Jeram Patel etc. He is also involved in specialized work of Cleaning and
                Coating of Monuments and Temples. He is socially very well connected with NGOs, trekking clubs

                and charities.
                <div class="contact">
                    <img class='plogo' src="../../../assets/images/call.png" /><a
                        href="tel:+800000000000">800000000000</a>
                </div>
                <div class="contact">
                    <img class='plogo' src="../../../assets/images/email.png" />abc@gmail
                </div>
            </div>
        </div>
        <button class="btn" (click)="showMore()">{{ !moreDetails ? 'More Details' : 'Less Details'}}</button>
        <img class="profileImage" src="../../../assets/images/person.png" />
    </div>
</div>