<div class="text1" id="aboutUs">
    <div class="content1">
        <div class="para">
            <p>We like to call Business Buddies a binding community where people come together to “get business and give
                business.” Through social media pages, our WhatsApp group, interactive live events, and help desk line,
                BB
                members
                have access to details of others' ventures that helps generate possible link ups, collaborations,
                tie-ups, and
                authentic alliances.
            </p>
            <p>Our team of five founding members, who themselves are business owners, founded BB in 2018 with a goal of
                fulfilling requirements of various businesses around the city of Vadodara. Their initial motive was to
                bring
                business owners together so that they can help each other thrive. BB started with 40 members and now
                proudly
                houses over 100 people in the community. </p>
            <p>The entire structure of Business Buddies relies on five foundations of being non-judgemental, sharing
                fruitful experiences, learning, family bonding, and travelling. Read the detailed description of our
                foundations below :
            </p>
        </div>
        <img style="width: 50%;" src="../assets/images/People hold a meeting to discuss data analysis vector.jpg" />

    </div>

</div>

<div class="card-container">
    <div class="cards">
        <img class="card-icon" src="../assets/images/judgement.png" />
        <label class="card-label">No judgement</label>
        <p class="card-text">Our community does not tolerate any kind of judgement regarding anyone's background or
            ventures. Every business, no matter the size or industry, won't be evaluated or judged by anyone over at BB.
        </p>
    </div>
    <div class="cards">
        <img class="card-icon" src="../assets/images/exchange-ideas.png" />
        <label class="card-label">Sharing Experiences</label>

        <p class="card-text">Sharing experiences is a massive part of any growing community. We expect our members to
            share their positive and negative experiences with other members to help each other. However, these stories
            have
            to strictly be experiences than a business owner has experienced themselves; they shouldn't be advices or
            unwanted knowledge.
        </p>
    </div>
    <div class="cards">
        <img class="card-icon" src="../assets/images/book.png" />
        <label class="card-label">Learning</label>

        <p class="card-text">Learning is a forever process and BB proudly hosts in-person events where we tie up with
            certain organisations and individuals who can help us learn new things.</p>
    </div>
    <div class="cards">
        <img class="card-icon" style="width: 13%;" src="../assets/images/family.png" />
        <label class="card-label">Family Bonding</label>

        <p class="card-text">We believe in families. Therefore, BB members' spouses are also welcome to join and
            participate in our events. We understand that many businesses run within a family where a number of people
            might
            be involved. So, everyone's welcome. The objective of this practice is to break an enigma of bias. However,
            we
            do expect our leading members to not overuse this foundation.</p>
    </div>
    <div class="cards">
        <img class="card-icon" src="../assets/images/travel.png" />
        <label class="card-label">Travel</label>

        <p class="card-text">BB hosts a wide range of activities that involve travelling and excursions. We believe that
            there's no better way to bond than travel together. We'd love it if our members can make time for such
            events
            and join us on these memorable events.</p>
    </div>
</div>