.galleryimg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
    gap: 30px;
}

.image {
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
}

.image img{
    max-width: 350px;
    max-height: 250px;
    border-radius: 50%;
}
 