<div class="footer">

    <div class="info">
        <label id="title">BUSINESS BUDDIES</label>
        <div class="home lines">
            <img id="homeIcon" src="../../../../../assets/images/address.png">
            
            <span>Gujarat
                <br />Vadodara</span>
        </div>

        <div class="mail lines">
            <img src="../../../../../assets/images/email.png">
            <span>businessbuddies@gmail.com</span>
        </div>
        <div class="phone lines">
            <img src="../../../../../assets/images/call.png">
            <span>+91 123</span>
        </div>

    </div>

    <div class="links">
        <label>LINK</label>
        <div class="data">
            <a routerLink="/home">Home</a>
            <a routerLink="aboutus">About</a>
            <a routerLink="howtojoin">How To Join Us</a>
            <a routerLink="contactus">Contact</a>
        </div>

    </div>

    <!-- <div class="social">
        <label>SUBSCRIBE</label>
        <div class="data">
            <div class="facebook lines">
                <img src="../../../../../assets/icons/facebook.png">
                <span>Facebook</span>
            </div>

            <div class="twitter lines">
                <img src="../../../../../assets/icons/twitter.png">
                <span>Twitter</span>
            </div>


            <div class="linkedin lines">
                <img src="../../../../../assets/icons/linkedin.png">
                <span>Linkedin</span>
            </div>

            <div class="gooogleplus lines">
                <img src="../../../../../assets/icons/google-plus.png">
                <span>Google Plus</span>
            </div>
        </div>
    </div> -->

</div>