.page{
    display : flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.logo{
    width: 30%;
    margin-bottom: 10px;
}

.line1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14%;
}

.data label{
    text-align: center;
    color : grey;
}

@media (max-width : 420px){
    .line1{
        flex-direction: column;
        gap: 30px;
    }
}