<div class="page">
    <div class="line1">
        <div class="data">
            <img class="logo" src="../../assets/images/address.png" />
            <label>Vadodara</label>
        </div>
        <div class="data">
            <img class="logo" src="../../assets/images/email.png" />
            <label>businessbuddies@gmail.com</label>
        </div>
        <div class="data">
            <img class="logo" src="../../assets/images/call.png" />
            <label>+911233456789</label>
        </div>
    </div>
</div>