  <owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let slide of bannerImageList">
      <ng-template carouselSlide [id]="slide.id">
        <img [src]="slide.src">
      </ng-template>
    </ng-container>

  </owl-carousel-o>

<div class="main-body">
  <div class="text1">
    <!-- <h3 id="text-header">What is Business Buddies?</h3> -->
    <div class="content1">
      <img class="img1" src="../assets/images/bb2.png" />
      <div class="para">
        <h3 id="text-header">What is Business Buddies?</h3>
        <p>Business Buddies (BB) is a networking forum where likeminded individuals can promote and enhance their
          respective businesses by collaborating (with) and supporting other businesses. Following the motto of
          “Together, we grow,” BB
          consists of over 100 member, and is steadily growing with individuals from ALL business backgrounds joining
          the
          clan.</p>
        <p>
          Based out of Vadodara, and soon to expand in other metropolitan cities, BB is a great platform to find new
          connections that can help a wide range of businesses generate more revenue in the long run.</p>
      </div>

    </div>

  </div>

  <div class="text1" id="aboutUs">
    <h3 id="text-header">About us</h3>
    <div class="content1">
      <div class="para">
        <p>We like to call Business Buddies a binding community where people come together to “get business and give
          business.” Through social media pages, our WhatsApp group, interactive live events, and help desk line, BB
          members
          have access to details of others' ventures that helps generate possible link ups, collaborations, tie-ups, and
          authentic alliances.
        </p>
        <p>Our team of five founding members, who themselves are business owners, founded BB in 2018 with a goal of
          fulfilling requirements of various businesses around the city of Vadodara. Their initial motive was to bring
          business owners together so that they can help each other thrive. BB started with 40 members and now proudly
          houses over 100 people in the community. </p>

      </div>
      <img class="img2" src="../assets/images/bb1.png" />

    </div>

  </div>
  <div class="card-container">
    <p class="newpara">The entire structure of Business Buddies relies on five foundations of being non-judgemental,
      sharing
      fruitful experiences, learning, family bonding, and travelling. Read the detailed description of our
      foundations below :
    </p>
    <div class="cards">
      <img class="card-icon" src="../assets/images/judgement.png" />
      <label class="card-label">No judgement</label>
      <p class="card-text">Our community does not tolerate any kind of judgement regarding anyone's background or
        ventures. Every business, no matter the size or industry, won't be evaluated or judged by anyone over at BB.
      </p>
    </div>
    <div class="cards">
      <img class="card-icon" src="../assets/images/exchange-ideas.png" />
      <label class="card-label">Sharing Experiences</label>

      <p class="card-text">Sharing experiences is a massive part of any growing community. We expect our members to
        share their positive and negative experiences with other members to help each other. However, these stories
        have
        to strictly be experiences than a business owner has experienced themselves; they shouldn't be advices or
        unwanted knowledge.
      </p>
    </div>
    <div class="cards">
      <img class="card-icon" src="../assets/images/book.png" />
      <label class="card-label">Learning</label>

      <p class="card-text">Learning is a forever process and BB proudly hosts in-person events where we tie up with
        certain organisations and individuals who can help us learn new things.</p>
    </div>
    <div class="cards">
      <img class="card-icon" style="width: 13%;" src="../assets/images/family.png" />
      <label class="card-label">Family Bonding</label>

      <p class="card-text">We believe in families. Therefore, BB members' spouses are also welcome to join and
        participate in our events. We understand that many businesses run within a family where a number of people
        might
        be involved. So, everyone's welcome. The objective of this practice is to break an enigma of bias. However, we
        do expect our leading members to not overuse this foundation.</p>
    </div>
    <div class="cards">
      <img class="card-icon" src="../assets/images/travel.png" />
      <label class="card-label">Travel</label>

      <p class="card-text">BB hosts a wide range of activities that involve travelling and excursions. We believe that
        there's no better way to bond than travel together. We'd love it if our members can make time for such events
        and join us on these memorable events.</p>
    </div>
  </div>

  <div class="text1" style="margin-top: 100px;">
    <h3 id="text-header">Activities</h3>
    <p style="font-size: 25px;">Keeping our foundations in mind, Business Buddies hosts a wide range of in-person
      activities and events.</p>
    <div class="card-container">

      <div class="card2">
        <label class="card-label">1) In-person meet ups</label>

        <p class="card-text">All the Business Buddies members are invited to two in-person meet-ups every month. We
          believe that face-to-face conversations are always better than online ones, therefore, we host a sesh where
          new members can meet the old members, share experiences, find new collaborators, or simply to promote their
          businesses. </p>
      </div>
      <div class="card2">
        <label class="card-label">2) Learning sessions</label>

        <p class="card-text">Every now and then, BB founders strive to organise “learning” based events such as
          symposiums, lectures, debates and workshops where BB members can learn new things. The invites will be sent
          out via social media so the members can choose whether or not an event is of use to them or not.</p>
      </div>
      <div class="card2">
        <label class="card-label">3) One on one meets</label>

        <p class="card-text">If a BB member feels as if they can benefit from another business, our team is happy to
          set
          up one-on-one meets to discuss the details on how two businesses can collaborate. And do not worry, we don’t
          expect any commission to do this. </p>
      </div>
    </div>
  </div>


</div>