.container{
    display : flex;
    align-items: center;
    justify-content: center;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 2;
    padding: 50px;
    background-color: #ebf8fa;
    margin: 20px 0px;
    border-radius: 40px;
}

.row{
    margin-bottom: 15px;
}

input[type=text], input[type=email]{
    height: 30px;
    width: 400px;
    padding : 0px 20px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid grey;
}


#check{
    width: 420px;
    text-align: center;
}

.btn{
    background-color: #1e81b0;
    padding: 15px 70px;
    color: aliceblue;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

@media (max-width : 420px) {

    .form-container{
        padding: 20px 0px;
        border-radius: 0;
    }
    input[type=text], input[type=email]{
        width: 90%;
    }

    #check{
        width: 90%;
    }
}
